.foot {
  color: bisque;
  text-align: center;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logoredes {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.img-redes {
  width: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}